.buttons {
  display: flex;
  gap: 10px;
}

.button {
  text-transform: capitalize;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  padding: 5px 15px;
  /* box-shadow: 0px 0px 10px 0px rgb(208, 208, 208); */
  transition: background-color ease 150ms, box-shadow ease 250ms;
}

.button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgb(208, 208, 208);
}

.button:active {
  background-color: rgb(234, 234, 234);
}

.bad {
  composes: button;
  color: #fff;
  background-color: rgb(219, 87, 87);
}

.bad:hover {
  background-color: rgb(219, 87, 87);
  box-shadow: 0px 0px 25px 0px rgba(219, 87, 87, 0.55);
}

.bad:active {
  background-color: rgba(219, 87, 87, 0.65);
}

.good {
  composes: button;
  color: #fff;
  background-color: rgb(122, 180, 78);
}

.good:hover {
  background-color: rgb(122, 180, 78);
  box-shadow: 0px 0px 25px 0px rgba(122, 180, 78, 0.55);
}

.good:active {
  background-color: rgba(122, 180, 78, 0.65);
}

.neutral {
  composes: button;
  color: #fff;
  background-color: rgb(157, 157, 157);
}

.neutral:hover {
  background-color: rgb(157, 157, 157);
  box-shadow: 0px 0px 25px 0px rgba(157, 157, 157, 0.55);
}

.neutral:active {
  background-color: rgba(157, 157, 157, 0.65);
}
